$w-1 : #fff;
$w-22 : #f9f9f9;
$w-2 : #f4f4f4;
$w-3 : #ededed;
$w-4 :#f3f4f6;
$w-5 : #ddd;
$w-6 : #cacaca;
$g-1 : #333;
$g-2 : #666;
$g-3 : #999;

@mixin dis-flex($direction, $gap){
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}

.inspection {
    min-height: 100svh;
    @include dis-flex(column, .6rem);
    justify-content: center;
}


.inspection .warp {
    flex: 1;
    align-items: center;
}

.contant{
    min-height: calc(100svh - 4rem);
    padding: 2rem 0;
    flex: 1;
    @include dis-flex(column, 1rem);
    .title {
        @include dis-flex(column, 1rem);
        .logo {
            width: 50%;
        }
        .tit {
            font-size: 2rem;
            font-weight: 700;
        }
    }
    .note {
        flex: 1;
        padding: 0 2rem;
        @include dis-flex(column, 1rem);
        font-size: 1rem;
        line-height: 1.6rem;
        font-weight: 400;
        p {
            span{
                font-weight: 600;
            }
        }
    }
    .time {
        width: 100%;
        margin-top: 1rem;
        flex: 1;
        .box {
            padding: 1.6rem 1.6rem;
            background-color: $w-3;
            border-radius: .8rem;
            @include dis-flex(column, .6rem);
            color: $g-2;
            .tobe {
                font-size: 1rem;
            }
            .todo {
                font-size: 1rem;
                font-weight: 700;
                color: $g-1;
            }
        }
    }
    .btn {
        @include dis-flex(column, 1rem);
        padding:1rem 2rem;
        align-items: center;
        button {
            width: 100%;
            height: 56px;
            border-radius: .8rem;
            color: $w-1;
            background-color: #FFCC01;
            font-size: 1.2rem;
            font-weight: 700;
        }
        .sub {
            font-size: .8rem;
            font-weight: 400;
            color: $g-3;
        }
    }
}

@media (min-width : 580px) {
    .warp {
        min-height: 50%;
    }
    .contant{
        min-height: 50%;
    }
}
