body {
  position: relative;
}

.wrap {
  width: 100svw;
  min-height: 100svh;
  position: relative;
  color: #333;
  background-color: #f9f9f9;
}

.index .wrap nav {
  background-color: #f9f9f9;
}

nav {
  width: 100%;
  background-color: #fff;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}
nav ul li {
  padding: 1rem;
  font-size: 1.2rem;
}
nav ul li:nth-child(1) {
  flex: 1;
  justify-content: left;
}
nav ul li:nth-child(2) {
  flex: 3;
  justify-content: center;
  text-align: center;
  padding: 1rem 0;
}
nav ul li:nth-child(3) {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  flex: 1;
  justify-content: right;
  font-size: 0.8rem;
  align-items: center;
  font-weight: 300;
  color: #999;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 2rem;
}
.title p:first-child {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  background-color: #333;
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
}
.title p:nth-child(2) {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.title p:nth-child(3) {
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
}

.benefit {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1rem 2rem 2rem;
}
.benefit ul {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.benefit ul li:first-child {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.benefit ul li:first-child p:nth-child(2) {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.6rem;
  font-weight: 600;
  color: #fff;
  background-color: #ff7bac;
  border-radius: 0.4rem;
  padding: 0.3rem 0.4rem;
}
.benefit ul li:last-child p {
  line-height: 1.6rem;
}

.itembox {
  padding: 2rem;
  background-color: #fff;
}
.itembox .point {
  position: relative;
  padding: 1rem 1.4rem;
  background-color: #ff7bac;
  border-radius: 0.6em;
  color: #fff;
  overflow: hidden;
}
.itembox .point ul {
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.itembox .point ul li {
  font-weight: 400;
}
.itembox .point ul li:nth-child(2) {
  z-index: 11;
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  justify-content: space-between;
  align-items: center;
}
.itembox .point ul li:nth-child(2) p:first-child {
  font-size: 1.6rem;
  font-weight: 600;
}
.itembox .point ul li:nth-child(2) p:nth-child(2) {
  font-size: 0.8rem;
}
.itembox .point ul li:nth-child(2) p:nth-child(2) i {
  margin-left: 0.4rem;
}
.itembox .point .mask {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 46%;
  height: 100%;
  background-color: #ff9fc3;
  transform: skew(-36deg) translate(30px, 0px);
}
.itembox .txt {
  padding: 1.4rem 0.6rem;
  font-weight: 500;
}
.itembox button {
  margin-top: 1rem;
  width: 100%;
  font-size: 1rem;
  padding: 0.8rem;
  font-weight: 500;
  color: #fff;
  background-color: #0086ff;
  border-radius: 0.6rem;
}
.itembox .how {
  padding: 1.4rem 0.6rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.itembox .how p {
  font-size: 1rem;
  font-weight: 500;
}

.top {
  padding: 2rem;
  background-color: #fff;
}
.top ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  text-align: center;
}
.top ul li:nth-child(2) {
  font-size: 2.4rem;
  font-weight: 500;
}
.top ul li:nth-child(3) {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.6rem;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #f4f4f4;
  border-radius: 0.6rem;
  color: #666;
}
.top ul li:nth-child(3) p:nth-child(2) {
  font-weight: 600;
}

.blank {
  width: 100svw;
  height: 0.4rem;
  border-top: 1px solid #ededed;
  background-color: #f9f9f9;
}

.minus {
  color: #999;
}

.plus {
  color: #333;
}

.list {
  padding: 2rem 1rem;
  background-color: #fff;
}
.list .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list .header li:nth-child(1) {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.8rem;
}
.list .header li:nth-child(1) p {
  font-size: 1.6rem;
  font-weight: 500;
}
.list .header li:nth-child(2) p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #666;
}
.list .list-con {
  padding: 1rem;
}
.list .list-item {
  padding: 1rem 0;
  border-bottom: 1px solid #ededed;
  font-size: 1rem;
}
.list .list-item ul {
  display: flex;
  justify-content: space-between;
}
.list .list-item ul:nth-child(1) {
  margin-bottom: 0.4rem;
}
.list .list-item ul:nth-child(1) li:last-child {
  font-weight: 600;
}
.list .list-item ul:nth-child(2) {
  font-size: 0.8rem;
  color: #999;
}
.list .list-none {
  min-height: 11rem;
  gap: 1rem;
  padding: auto;
  display: grid;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.list .list-none .tit {
  font-size: 1.2rem;
  font-weight: 500;
}
.list .list-none .sub {
  color: #666;
  line-height: 1.6rem;
}
.list .list-none button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding: 0.8rem;
  border-radius: 0.6rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 1rem;
  color: #666;
}

.footer {
  padding: 2rem;
  background-color: #f9f9f9;
  color: #666;
}
.footer .header {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
}
.footer ul {
  display: grid;
  gap: 0.8rem;
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.footer ul li {
  list-style: disc inside;
}

.popup {
  display: none;
  width: 100svw;
  height: 100svh;
  position: fixed;
  z-index: 80;
  top: 0;
  overflow: hidden;
  align-items: center;
}
.popup .pop-dim {
  z-index: 90;
  width: 100%;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.popup .pop-nomal {
  width: calc(90% - 2rem);
  z-index: 999;
  position: fixed;
  background-color: #fff;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  padding: 3rem 1rem;
  border-radius: 1rem;
  text-align: center;
}
.popup .pop-nomal .tit {
  padding: 0 0 1rem;
}
.popup .pop-nomal .head {
  font-size: 1.2rem;
  font-weight: 500;
}
.popup .pop-nomal .adbox {
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 1rem;
}
.popup .pop-nomal .adbox::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.popup .pop-nomal .adtxt {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  padding: 1.6rem 0 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.popup .pop-nomal .adtxt img {
  height: 0.8rem;
}
.popup .pop-nomal .adtxt p {
  font-size: 0.8rem;
}
.popup .pop-nomal .button {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  padding: 0.8rem;
  background-color: #f4f4f4;
  border-radius: 0.8rem;
}
.popup .pop-nomal .button button {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  color: #999;
  background: none;
}
.popup .pop-nomal .button button:nth-child(2) {
  font-weight: 600;
  color: #333;
  border-left: 1px solid #cacaca;
}
.popup .pop {
  width: calc(100% - 4rem);
  z-index: 999;
  position: fixed;
  bottom: 0;
  padding: 3rem 2rem;
  background-color: #fff;
  border-radius: 2rem 2rem 0 0;
}
.popup .pop .close-btn {
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  padding: 0.6rem;
  font-size: 1.6rem;
}
.popup .pop .tit {
  display: grid;
  gap: 0.4rem;
  text-align: center;
  justify-content: center;
}
.popup .pop .tit .head {
  font-size: 1.4rem;
  font-weight: 500;
}
.popup .pop .tit .sub {
  font-size: 0.9rem;
  font-weight: 400;
  color: #666;
}
.popup .pop ul {
  display: grid;
  padding: 1.6rem 0 0;
}
.popup .pop ul li {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 400;
  color: #999;
  padding: 0.8rem 0;
}
.popup .pop ul li i {
  display: none;
}
.popup .pop ul .active {
  font-weight: 500;
  color: #333;
}
.popup .pop ul .active i {
  display: block;
}

@media (min-width: 580px) {
  #index {
    width: 100svw;
    min-height: calc(100svh - 2rem);
    background-color: #f1f1f1;
    padding: 2rem 0 0;
  }
  .wrap {
    width: 460px;
    min-height: 70svh;
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    padding: 2rem 0;
    border-radius: 2rem;
    box-shadow: 3px 4px 11px 0px rgba(0, 0, 0, 0.1254901961);
  }
  .index .wrap {
    background-color: #f9f9f9;
  }
  .blank {
    width: 100%;
  }
  .popup .pop {
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
  }
}/*# sourceMappingURL=style.css.map */